html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  padding-bottom: 77px;
  padding-top: 25px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #95e1d3;
}

.menu {
  display: flex;
}

.menu-list {
  display: flex;
}

.menu-list:not(:first-child) {
  margin-left: 56px;
}

.menu-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #95e1d3;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.menu-link::after {
  content: "";
  background-color: rgb(243, 129, 129);
  width: 50px;
  height: 3px;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms linear;
}

.menu-list:hover .menu-link::after {
  visibility: visible;
  opacity: 1;
}

.sections {
  padding-top: 45px;
  padding-bottom: 45px;
}

.section-title {
  text-align: center;
  margin-bottom: 62px;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
}

.section-title::before {
  content: "";
  width: 60px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin-top: 40px;
}

.section-decoration {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services-item-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 383px;
  /*margin-right: 82px;*/
  margin-bottom: 98px;
}

.services-list-items {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.services-list-item-title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
}

.services-list-item-description {
}

.services-item-wrap:nth-child(3n) {
  margin-right: 0px;
}

.services-item-wrap:nth-child(n + 4) {
  margin-bottom: 0px;
}

.services-item-wrap::before {
  content: "";
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.alarm::before {
  background-image: url(../img/ALARM.png);
}

.line::before {
  background-image: url(../img/LINE_GRAPH.png);
}

.computer::before {
  background-image: url(../img/COMPUTER___OK.png);
}

.book::before {
  background-image: url(../img/BOOK_2.png);
}

.home::before {
  background-image: url(../img/HOME.png);
}

.image::before {
  background-image: url(../img/IMAGE.png);
}

.team-section-description {
  text-align: center;
  margin-bottom: 90px;
}

.our-team {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.team-list-item {
  width: 379px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: relative;
}

.overlay {
  width: 380px;
  height: 470px;
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-list {
  display: flex;
  background-color: rgb(252, 227, 138);
}

.team-social-list-item {
}

.team-social-link {
  display: block;
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
}

.team-social-link:hover {
  background-color: #95e1d3;
}

.team-social-link-fb {
  background-image: url(../img/fb.png);
}

.team-social-link-twt {
  background-image: url(../img/twt.png);
}

.team-social-link-pnt {
  background-image: url(../img/pnt.png);
}

.team-social-link-inst {
  background-image: url(../img/inst.png);
}

.team-name {
  /*display: flex;
  justify-items: center;*/
  padding-top: 30px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
}

.team-title {
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 63px;
  align-items: center;
}

.author {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.author-name {
  color: #f38181;
}

.button-wrapper {
}
