body {
  font-family: "Playfair Display", "Arial", sans-serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.page-header {
  padding-top: 70px;
  margin-bottom: 100px;
}

.site-navigation ul {
  list-style: none;
}

.site-navigation a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #626262;
}

.site-navigation a:hover {
  color: #03a9f4;
}

.site-navigation a:visited:hover {
  color: #03a9f4;
}

.site-navigationa: a {

}

.site-navigation {
  text-align: center;
}

.lifestyles-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  margin-bottom: 55px;
  text-align: left;
}

.lifestyles-list-item h3 {
  font-size: 30px;
  line-height: 36px;
}

.picture-name {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  line-height: 17px;
  margin-bottom: 20px;
}

.menu {
  padding: 0;
  margin: 0;
  font-size: 0;
}

.menu-item {
  display: inline-block;
  font-size: 14px;
  margin-right: 110px;
}

.menu-item:nth-child(4) {
  margin-right: 0;
}

.lifestyles-list-item {
  display: inline-block;
  margin-right: 60px;
  width: 420px;
  margin-bottom: 135px;
}

.lifestyles-list-item:nth-child(2n) {
  margin-right: 0;
}

.lifestyles-list-item:nth-child(5) {
  margin-bottom: 0;
}

.lifestyles-list-item:nth-child(6) {
  margin-bottom: 0;
}

.textname {
  margin: 0;
  margin-bottom: 35px;
}

p {
  margin: 0px;
  font-size: 14px;
}

img {
  margin-bottom: 30px;
}

.bottom-button {
  width: 165px;
  height: 65px;
  border-width: thin;
  background-color: transparent;
  border-style: line;
  border-color: #626262;
  font-size: 20px;
  font-family: "Playfair Display", "Arial", sans-serif;
  color: #626262;
  line-height: 24px;
  display: inline-block;
}

.lifestyles {
  text-align: center;
  padding-bottom: 70px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
