@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"),
    local("Monserrat-Regular") url("../fonts/montserrat-v14-latin-regular.woff")
      format("woff"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 280px;
  margin: 0 auto;
}

.navigation {
  padding-top: 20px;
}

.menu-list {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .menu-list {
    margin-bottom: 116px;
  }
}

.enter {
  min-width: 94px;
  min-height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
}

.passive-border {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.passive-border:focus {
  filter: invert(100%);
}

.enter:hover,
.enter:focus {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-radius: 50px;
  filter: invert(100%);
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

header {
  width: 100%;
  position: absolute;
}

.hero {
  padding-top: 225px;
  background-image: url(../img/section-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .hero {
    padding-bottom: 140px;
  }
}

.share-dreams-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 767px) {
  .share-dreams-title {
    letter-spacing: -0.8px;
    margin-bottom: 20px;
  }
}

.share-dreams-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 767px) {
  .share-dreams-description {
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
}

.find-partner-button {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  max-width: 280px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  padding-top: 12px;
}

.find-partner-button:focus {
  filter: invert(100%);
}

.section-meet-partner {
  padding-bottom: 60px;
  padding-top: 74px;
}

@media (max-width: 767px) {
  .section-meet-partner {
    padding-bottom: 60px;
  }
}

.meet-partner-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: #333333;
  text-align: center;
}

@media (max-width: 767px) {
  .meet-partner-title {
    margin-bottom: 20px;
  }
}

.partner-list-item {
  width: 221px;
  margin: 0 auto;
}

.img-wrapper {
  position: relative;
  margin-bottom: 24px;
  max-width: 122px;
  margin: 0 auto;
}

.partner-img {
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.img-wrapper::before {
  display: block;
  content: "";
  border-style: solid;
  border-width: 4px;
  border-color: rgb(255, 255, 255);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 37px;
  height: 37px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.TV-icon::before {
  background-image: url(../img/1st-shape.png);
  background-color: rgb(255, 78, 80);
}

.jar-icon::before {
  background-image: url(../img/2nd-shape.png);
  background-color: rgb(255, 165, 7);
}

.cup-icon::before {
  background-image: url(../img/3d-shape.png);
  background-color: rgb(28, 215, 173);
}

.paper-icon::before {
  background-image: url(../img/4th-shape.png);
  background-color: rgb(78, 115, 219);
}

.partner-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #333333;
  text-align: center;
  margin-bottom: 20px;
}

.partner-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: #666666;
  text-align: center;
}

@media (max-width: 767px) {
  .partner-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .partner-list {
    margin-bottom: 30px;
  }
}

.other-partners-button {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 78, 80);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 283px;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #ff4e50;
  margin: 0 auto;
  text-align: center;
  padding-top: 12px;
}

.other-partners-button:focus {
  filter: invert(100%);
}

@media (min-width: 768px) {
  .container {
    max-width: 492px;
  }

  .navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 40px;
  }

  .menu-list {
    position: relative;
    /*right: -19.1%;*/
  }

  .logo {
    position: relative;
    /*left: -17.68%;*/
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .partner-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 60px;
  }

  .share-dreams-title {
    margin-bottom: 45px;
    letter-spacing: -0.1px;
    font-size: 51px;
  }

  .share-dreams-description {
    margin-bottom: 40px;
    font-size: 24px;
  }

  .hero {
    padding-bottom: 235px;
  }

  .section-meet-partner {
    padding-bottom: 40px;
  }

  .meet-partner-title {
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 942px;
  }

  .section-meet-partner {
    padding-bottom: 75px;
  }

  .share-dreams-title {
    max-width: 500px;
    margin: 0 auto 45px;
  }
}
