.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #515151;
}

.container {
    width: 1110px;
    margin: 0px auto;
}

.logo {
    float: left;
}

.menu {
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
    line-height: 11px;
}

.menu li {
    display: inline-block;
    margin-right: 35px
}

.menu li:nth-child(6) {
    margin-right: 0px;
}

.navigation {
    padding-top: 40px;
}

.sections {
    padding-top: 110px;
}

.section-title {
    margin: 0;
    padding-left: 328px;
}

.fetured-list {
    margin: 0;
    padding-top: 135px;
    list-style: none;
    padding-left: 0;
}

.fetured-list-item {}

.link-img {
    float: left;
}

.link-text {
    float: left;
}

.link-text h3 {
    width: 203px;
    margin: 0;
}

.link-text p {
    width: 54px;
    margin: 0;
}