.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #515151;
}

.container {
  width: 1110px;
  margin: 0px auto;
}

.logo {
  float: left;
  font-size: 30px;
  color: #555252;
  text-decoration: none;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Roboto light", sans-serif;
}

.logo::first-letter {
  color: #1abc9c;
  font-family: "Roboto Black", sans-serif;
}

.menu {
  list-style: none;
  float: right;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 17px;
}

.menu li {
  display: inline-block;
  margin-right: 35px;
}

.menu a {
  color: #0f0101;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: #1abc9c;
}

.menu li:nth-child(6) {
  margin-right: 0px;
}

.navigation {
  padding-top: 40px;
}

.sections {
  padding-top: 110px;
}

.section-title {
  margin: 0;
  color: #515151;
  font-size: 48px;
  line-height: 88px;
  text-transform: uppercase;
  text-align: center;
}

.section-title::after {
  content: "";
  width: 165px;
  height: 9px;
  background-color: #1abc9c;
  display: block;
  margin: 0 auto;
}

.fetured-list {
  margin: 0;
  padding-top: 127px;
  list-style: none;
  padding-left: 0;
}

.fetured-list li {
  float: left;
  background-color: #e8effc;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.fetured-list li:nth-child(4n) {
  margin-right: 0px;
}

.link-text h3 {
  width: 202px;
  margin: 0;
  float: left;
  background-color: #323232
  color: #ffffff
}

.link-text p {
  width: 53px;
  margin: 0;
  float: left;
  background-color: #8c8c8c;
  color: #ffffff;
}

.link-img {
  height: 283px;
  font-size: 0px;
}

.link-text {
  line-height: 40px;
}

.news-list {
  padding-top: 110px;
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  margin-bottom: 85px;
}

.news-list li {
  float: left;
  width: 350px;
  margin-right: 30px;
}

.news-list li:nth-child(3) {
  margin-right: 0px;
}

.news-list h4 {
  margin: 0px;
  padding-top: 15px;
}

.news-list p {
  margin: 0px;
  padding-top: 45px;
  margin-bottom: 15px;
}

.read-more-button {
  width: 160px;
  height: 55px;
}
